* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400; }

body main {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

body ul {
  margin: 0;
  padding: 0;
  list-style: none; }

body {
  margin-top: 110px;
  background: rgba(255, 255, 255, 0.753); }
  body .btn {
    margin: 3px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.753); }
  body .btn:hover {
    background-color: #486b00; }
  body .li__a {
    color: #555555 !important; }
  body .li__a:visited {
    color: #555555 !important; }

/* Nav */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6; }
  header nav {
    color: #555555;
    background: rgba(255, 255, 255, 0.753);
    box-shadow: 1px 1px 15px 1px #505050; }
    header nav .navbar-brand {
      width: auto;
      height: 100px; }
      header nav .navbar-brand img {
        width: 100%;
        height: auto; }
    header nav ul {
      display: flex;
      list-style: none; }
      header nav ul li {
        flex: 1;
        font-size: 1.25em;
        text-align: left;
        margin-bottom: 7px; }

.imgBoot {
  width: 25vw;
  height: 13vw;
  min-width: 100px;
  min-height: 52px;
  max-width: 200px;
  max-height: 104px; }

.footer {
  background: rgba(0, 0, 0, 0.863);
  padding: .7em .7em;
  font-size: 1em;
  margin: 0;
  z-index: 10; }
  .footer .footer__ul {
    display: flex;
    justify-content: center;
    margin: .7em 0;
    grid-area: red_social; }
    .footer .footer__ul li {
      margin: 0 15px; }
      .footer .footer__ul li img {
        width: 3em; }
  .footer .footer__p {
    font-size: large;
    text-align: center;
    margin: .7em auto;
    color: white;
    grid-area: titulo; }
  .footer .footer__p--copy {
    font-size: 12px;
    color: white;
    grid-area: copy;
    width: 90%; }
  .footer address {
    width: 100%;
    margin: 0 auto;
    grid-area: address; }
    .footer address ul {
      display: flex;
      flex-flow: column wrap;
      text-align: center; }
      .footer address ul li {
        margin: 2% 0;
        color: rgba(255, 255, 255, 0.8); }
        .footer address ul li a {
          color: #a2c523;
          font-size: 1em; }
  .footer .footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em .3em;
    margin: 0 auto;
    width: 90%;
    color: rgba(255, 255, 255, 0.753);
    grid-area: newsletter; }
    .footer .footer__form label {
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      align-self: center;
      min-width: 90px;
      font-size: 1.5em;
      padding: 10px 0; }
    .footer .footer__form .form-control {
      background: rgba(255, 255, 255, 0.8);
      color: white;
      width: 70%;
      margin-right: 10px;
      height: 3.7vw;
      min-height: 30px; }
    .footer .footer__form .form-control:focus {
      box-shadow: 0 0 15px .33em #2e4600;
      color: white; }
    .footer .footer__form .footer__form__button {
      width: 7vw;
      min-width: 30px;
      height: 7vw;
      min-height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 10px; }
    .footer .footer__form .footer__form__button:hover {
      box-shadow: 0 0 15px .33em #2e4600; }

@media only screen and (min-width: 440px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo red_social" "address newsletter" "address copy"; }
    .footer .footer__p {
      font-size: 1.5em;
      margin: .5em 0 0 0; }
    .footer .footer__p--copy {
      font-size: 12px; }
    .footer .footer__form label {
      margin: 0; }
    .footer .footer__form .footer__form__button {
      width: 3.7vw;
      height: 3.7vw; } }

.index {
  position: relative;
  background-color: rgba(255, 255, 255, 0.753); }
  .index h2 {
    font-size: 35px;
    position: absolute;
    top: 70vh;
    left: 5px;
    color: rgba(255, 255, 255, 0.945);
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #505050;
    grid-area: img; }
  .index .index__div--img {
    width: 100%;
    height: 100vh;
    grid-area: img; }
    .index .index__div--img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .index .index__div--iframe {
    position: relative;
    padding-bottom: 53.85%;
    height: 0;
    overflow: hidden;
    grid-area: iframe; }
    .index .index__div--iframe iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .index .index__p, .index .index__p--prim, .index .index__p--segu {
    max-width: 540px;
    font-size: 1em;
    text-align: justify;
    padding: 3.5em 15px;
    margin: auto;
    color: #555; }
  .index .index__p--prim {
    grid-area: primerParrafo; }
  .index .index__p--segu {
    grid-area: segundoParrafo; }

@media only screen and (min-width: 665px) {
  .index h2 {
    font-size: 35px;
    top: 85vh;
    left: 5px; } }

@media only screen and (min-width: 1281px) {
  .index {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "img img img primerParrafo primerParrafo" "segundoParrafo segundoParrafo iframe iframe iframe"; }
    .index h2 {
      font-size: 3em;
      top: 65vh; }
    .index .index__div--img {
      height: calc(100vh - 110px); }
    .index .index__p--prim {
      font-size: 1.2em;
      text-align: justify;
      width: 100%;
      height: auto;
      padding: 0 3.5em;
      align-self: center; }
      .index .index__p--prim b {
        display: block;
        font-size: 2.5em; }
    .index .index__p--segu {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.849);
      padding: 3em;
      font-size: 1.2em; }
    .index .index__div--iframe {
      align-self: center; } }

main .galeria .galeria__section {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: 10px 3.8%; }
  main .galeria .galeria__section div {
    width: 33%;
    height: 18vw; }
    main .galeria .galeria__section div .min {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid #0d6f00; }
    main .galeria .galeria__section div .max {
      display: block;
      position: fixed;
      object-fit: cover;
      top: 350px;
      left: 75%;
      width: 0vw;
      height: 0vw;
      transition: all .5s ease; }
  main .galeria .galeria__section div:hover .min {
    transform: scale(2.3);
    box-shadow: 1px 2px 7px 2px;
    border: 2px solid black; }

@media only screen and (min-width: 426px) {
  main .galeria .galeria__section div {
    width: 25%;
    height: 12vw; } }

@media only screen and (min-width: 1150px) {
  main .galeria {
    display: grid;
    grid-template-columns: 50%;
    position: relative; }
    main .galeria .galeria__section {
      display: flex;
      flex-wrap: wrap; }
      main .galeria .galeria__section div {
        width: 25%;
        height: 7vw; }
      main .galeria .galeria__section .min {
        transition: all .3s ease-out;
        width: 100%;
        height: 100%;
        object-fit: cover; }
      main .galeria .galeria__section div:hover .min {
        width: 0;
        height: 0;
        border: none;
        box-shadow: none; }
      main .galeria .galeria__section div:hover .max {
        display: block;
        width: 38vw;
        height: 25vw;
        border: 1px solid black;
        top: 180px;
        left: 55%;
        box-shadow: 2px 7px 15px 6px; } }

/* .servicio{
    display: grid;
        grid-template-columns: 33%;
    .servicio__ul{
        position: relative;
        margin: 0 26px 0 0;
        .servicio__ul__li{
            margin: 40px 0;
            h3{
                text-align: center;
                font-size: 1em;
                padding: 2px;
            }
            h3:hover{
                cursor: pointer;
                color: rgb(0, 82, 0);
                font-weight: 700;
                text-shadow: 5px 5px 5px $colorSombra;
            }
            .simple{
                display: none;
                width: 110%;
                margin-top: 170px;
                z-index: 1;
            }
            .superior{
                display: none;
                width: 120%;
                margin-top: 30px;
            }
            .info{
                display: none;
                font-size: .9em;
                z-index: 2;
                .info__ul{
                    grid-area: ul;
                    text-align: center;
                    margin: auto 0;
                    li{
                    margin: 5px 0;
                    }
                }
                .carousel{
                    width: 90%;
                    margin: auto;
                    grid-area: servicioImg;
                    .carousel-item{
                        width: 100%;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .servicio__ul__li:hover .info{
            display: grid;
            grid-template-columns: 63vw;
                grid-template-areas:
                "ul"
                "servicioImg" ;
            background-color: $colorFondo;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
        }
    }
}
@media only screen and (min-width: 716px){
    .servicio{
            grid-template-columns: 100%;
        height: calc(100vh - 100px);
        padding-top: 20px;
        .servicio__ul{
            display: grid;
                grid-template-columns: repeat(5, 1fr);
            max-width: 100%;
            .servicio__ul__li{
                display: grid;
                    grid-template-rows: 12% 80%;
                margin: 8px 0;
                h3{
                    font-size: 1.3em;
                }
                .info{
                    .info__ul{
                        font-size: 1.2em;
                        margin: 0 10px;
                        justify-self: center;
                        align-self: center;
                    }
                }
            }
            .servicio__ul__li:hover .info{
                grid-template-columns: 50% 50%;
                grid-template-rows: 100%;
                grid-template-areas:
                "ul servicioImg";
            left: 0%;
            top: 15%;
            width: 100%;
            }
        }
    }
} */
/* @media only screen and (min-width: 900px){ */
main {
  padding-top: 0px; }
  main .servicio .servicio__ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    position: relative; }
    main .servicio .servicio__ul .servicio__ul__li {
      position: relative; }
      main .servicio .servicio__ul .servicio__ul__li img {
        width: 100%; }
      main .servicio .servicio__ul .servicio__ul__li h3 {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1em;
        color: white;
        text-shadow: 3px 3px 3px #505050;
        z-index: 3; }
      main .servicio .servicio__ul .servicio__ul__li h3:hover {
        cursor: pointer; }
      main .servicio .servicio__ul .servicio__ul__li .info {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateY(90deg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 1.5vw;
        line-height: 1.6;
        background-color: #486b00;
        color: #fff;
        z-index: 2; }
        main .servicio .servicio__ul .servicio__ul__li .info .info__ul {
          grid-area: ul; }
          main .servicio .servicio__ul .servicio__ul__li .info .info__ul li {
            text-align: center; }
        main .servicio .servicio__ul .servicio__ul__li .info .carousel {
          display: none;
          width: 90%;
          margin: auto;
          grid-area: servicioImg; }
          main .servicio .servicio__ul .servicio__ul__li .info .carousel .carousel-item {
            width: 100%; }
            main .servicio .servicio__ul .servicio__ul__li .info .carousel .carousel-item img {
              width: 100%;
              height: auto; }
    main .servicio .servicio__ul .simple {
      grid-column: 1 / 3;
      grid-row: 1; }
    main .servicio .servicio__ul .superior {
      grid-column: 2/4;
      grid-row: 1; }
    main .servicio .servicio__ul .king {
      grid-column: 3/5;
      grid-row: 1; }
    main .servicio .servicio__ul .jr {
      grid-column: 1 / 3;
      grid-row: 2; }
    main .servicio .servicio__ul .suite {
      grid-column: 2 / 4;
      grid-row: 2; }
  main .servicio .servicio__ul__li:hover img {
    transition: all .5s ease-in-out;
    transform: rotateY(90deg);
    transform-style: preserve-3d; }
  main .servicio .servicio__ul__li:hover .info {
    transition: .5s .5s ease-in-out;
    transform: rotateY(0deg); }

.reserva {
  padding: 1em 0;
  margin: 0 5px; }
  .reserva .reserva__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em .3em;
    margin: 0 5px; }
    .reserva .reserva__section legend {
      width: 100%;
      text-align: center;
      margin: 0 0 10px 0;
      font-size: 1.3em;
      line-height: 1.5em; }
  .reserva .reserva__section--prim {
    border-bottom: 3px dashed black; }
    .reserva .reserva__section--prim label {
      display: inline-block;
      width: 26%; }
    .reserva .reserva__section--prim .form-control {
      width: 68%;
      height: 2.2em;
      margin: 4px 0;
      color: #2e4600; }
    .reserva .reserva__section--prim select {
      width: 68%;
      height: 2.2em;
      margin: 4px 0; }
    .reserva .reserva__section--prim .form-control:focus {
      box-shadow: 0 0 5px 0.25rem #5fba48;
      color: #2e4600; }
  .reserva .reserva__section--secu label {
    width: 43%;
    margin: 3px auto;
    cursor: pointer; }
  .reserva .reserva__section--secu input {
    margin-right: 10px; }
  .reserva .reserva__section--terc {
    border-bottom: 3px dashed #2e4600; }
    .reserva .reserva__section--terc label {
      width: 30%;
      justify-self: center;
      align-self: center;
      text-align: center;
      margin: 3px auto;
      cursor: pointer; }
    .reserva .reserva__section--terc input {
      margin: 2%; }
  .reserva .reserva__section--cuar input {
    font-size: .75em;
    margin: 10px 1.5%;
    width: 27.33333%;
    max-width: 115px; }

@media only screen and (min-width: 640px) {
  .reserva {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "reservaA reservaB" "reservaA reservaC" "reservaD reservaD"; }
    .reserva .reserva__section--prim {
      grid-area: reservaA;
      width: 100%;
      border-right: 3px dashed #2e4600; }
    .reserva .reserva__section--secu {
      grid-area: reservaB; }
    .reserva .reserva__section--terc {
      grid-area: reservaC; }
    .reserva .reserva__section--cuar {
      grid-area: reservaD; }
      .reserva .reserva__section--cuar input {
        font-size: 1.2em;
        width: 20%;
        max-width: none; } }

@media only screen and (min-width: 1023px) {
  .reserva {
    grid-template-columns: 42% 39% 19%;
    grid-template-areas: "reservaA reservaB reservaD" "reservaA reservaC reservaD"; }
    .reserva .reserva__section--prim {
      border-bottom: 0; }
    .reserva .reserva__section--terc {
      border-bottom: 0; }
    .reserva .reserva__section--cuar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-left: 3px dashed #2e4600; }
      .reserva .reserva__section--cuar input {
        font-size: 1em;
        width: 170px;
        max-width: none; } }

.contacto {
  padding-top: 20px;
  margin: 15px; }
  .contacto .contacto__add address {
    width: 100%; }
  .contacto .contacto__add ul {
    text-align: center; }
  .contacto .contacto__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em .3em;
    margin: 0 10px; }
    .contacto .contacto__form label {
      align-self: center;
      text-align: center;
      width: 22%;
      min-width: 90px; }
    .contacto .contacto__form .form-control {
      display: inline-block;
      width: 75%;
      height: 2.2em;
      margin: 5px 0;
      background: #e2e2e2;
      color: #2e4600; }
    .contacto .contacto__form .form-control:focus {
      box-shadow: 0 0 5px 0.25rem #5fba48;
      color: #2e4600; }
    .contacto .contacto__form div {
      width: 100%;
      text-align: center; }
  .contacto .contacto__ubic {
    grid-area: ubicacion;
    margin: 8px 0; }
    .contacto .contacto__ubic iframe {
      width: 95%;
      margin: 4px 2.5%; }

@media only screen and (min-width: 640px) {
  .contacto {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: auto;
    grid-template-areas: "address contactoForm" "ubicacion ubicacion"; }
    .contacto .contacto__add {
      grid-area: address;
      align-self: center;
      justify-self: center; }
    .contacto .contacto__form {
      grid-area: contactoForm;
      align-self: center;
      justify-self: center; } }

.error {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "none none" "titulo img" "sub1 img" "sub2 img"; }
  .error .error__h1 {
    grid-area: titulo;
    margin: 0 10px;
    text-align: justify; }
  .error .error__sub--1 {
    grid-area: sub1; }
  .error .error__sub--2 {
    grid-area: sub2; }
  .error .error__img {
    grid-area: img; }
