* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

body a {
  text-decoration: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400; }

body main {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

body ul {
  margin: 0;
  padding: 0;
  list-style: none; }

@media only screen and (min-width: 1260px) {
  * {
    user-select: text; } }

body {
  margin-top: 86px;
  background: #c5c1c0; }
  body .btn {
    margin: 3px;
    justify-content: center;
    background-color: #c5c1c0;
    border: 1px solid #0a1612;
    color: #0a1612; }
  body .btn:hover {
    background-color: #0a1612;
    border: 1px solid #f7ce3e;
    color: #f7ce3e;
    font-weight: bold; }
  body .li__a {
    color: #555 !important; }
  body .li__a:visited {
    color: #555 !important; }

/* Nav */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6; }
  header .navbar {
    color: #555;
    background: #c5c1c0;
    box-shadow: 1px 1px 15px 1px #505050; }
    header .navbar .navbar-brand {
      width: auto;
      height: 70px; }
      header .navbar .navbar-brand .imgBoot {
        margin: 0 60px;
        width: 140px;
        height: auto; }
    header .navbar ul {
      display: flex;
      list-style: none; }
      header .navbar ul li {
        flex: 1;
        font-size: 1.25em;
        text-align: left;
        margin-bottom: 7px; }

@media only screen and (max-height: 450px) {
  body {
    margin-top: 86px; }
  header {
    position: absolute; }
    header nav .navbar-brand {
      height: 60px; }
      header nav .navbar-brand img {
        width: 100px; } }

.footer {
  background: rgba(0, 0, 0, 0.863);
  padding: .5em .7em .7em;
  font-size: 1em;
  margin: 0;
  z-index: 10; }
  .footer .footer__ul {
    display: flex;
    justify-content: center;
    margin: .7em 0;
    grid-area: red_social; }
    .footer .footer__ul li {
      margin: 15px; }
      .footer .footer__ul li img {
        width: 2.5em; }
  .footer .footer__p {
    font-size: large;
    text-align: center;
    margin: .7em auto;
    color: white;
    grid-area: titulo; }
  .footer .footer__p--copy {
    font-size: 12px;
    color: white;
    grid-area: copy;
    width: 90%; }
  .footer address {
    width: 100%;
    margin: 0 auto;
    grid-area: address; }
    .footer address ul {
      display: flex;
      flex-flow: column wrap;
      text-align: center; }
      .footer address ul li {
        margin: 2% 0;
        color: rgba(255, 255, 255, 0.8); }
        .footer address ul li a {
          color: #f7ce3e;
          font-size: 1em; }
  .footer .footer__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em .3em;
    margin: 0 auto;
    width: 90%;
    color: rgba(228, 228, 228, 0.973);
    grid-area: newsletter; }
    .footer .footer__form label {
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      align-self: center;
      min-width: 90px;
      font-size: 1.5em;
      padding: 10px 0; }
    .footer .footer__form .form-control {
      background: rgba(255, 255, 255, 0.8);
      color: #0a1612;
      width: 70%;
      margin-right: 10px;
      height: 3.7vw;
      min-height: 30px; }
    .footer .footer__form .form-control:focus {
      box-shadow: 0 0 15px 0.05rem #c5c1c0;
      color: #0a1612; }
    .footer .footer__form .footer__form__button {
      width: 7vw;
      min-width: 30px;
      height: 7vw;
      min-height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 10px; }
    .footer .footer__form .footer__form__button:hover {
      box-shadow: 0 0 15px 0.05rem #c5c1c0; }

@media only screen and (min-width: 600px) {
  .footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "titulo red_social" "address newsletter" "address copy"; }
    .footer .footer__ul {
      display: flex;
      justify-content: center;
      margin: .7em 0;
      grid-area: red_social; }
      .footer .footer__ul li {
        margin: 15px 30px; }
        .footer .footer__ul li img {
          width: 2.5em; }
    .footer .footer__p {
      font-size: 1.5em;
      margin: auto 0; }
    .footer .footer__p--copy {
      font-size: 12px; }
    .footer .footer__form label {
      margin: 0; }
    .footer .footer__form .footer__form__button {
      width: 3.7vw;
      height: 3.7vw; } }

.index {
  background-color: #c5c1c0; }
  .index .index__div--img {
    position: relative;
    width: 100%;
    height: calc( 100vh - 86px);
    grid-area: img; }
    .index .index__div--img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .index .index__div--img h2 {
      position: absolute;
      bottom: 20px;
      font-size: 2em;
      padding: 0 15px;
      margin: auto;
      color: white;
      text-transform: uppercase;
      text-shadow: 3px 3px 3px #1a2930;
      text-align: center; }
  .index .index__div--iframe {
    position: relative;
    padding-bottom: 53.85%;
    height: 0;
    overflow: hidden;
    grid-area: iframe; }
    .index .index__div--iframe iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .index .index__p, .index .index__p--prim, .index .index__p--segu {
    max-width: 540px;
    font-size: 1em;
    text-align: justify;
    padding: 3.6em 15px;
    margin: auto;
    color: #555; }
  .index .index__p--prim {
    grid-area: primerParrafo; }
  .index .index__p--segu {
    grid-area: segundoParrafo; }

@media only screen and (min-width: 354px) {
  .index .index__div--img h2 {
    font-size: 2.5em; } }

@media only screen and (min-width: 665px) {
  .index .index__div--img h2 {
    margin: 50px;
    font-size: 3em; } }

@media only screen and (min-width: 1260px) {
  .index {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: "img img img primerParrafo primerParrafo" "segundoParrafo segundoParrafo iframe iframe iframe"; }
    .index .index__div--img {
      height: calc(100vh - 86px); }
      .index .index__div--img h2 {
        top: 68vh; }
    .index .index__p--prim {
      font-size: 1.2em;
      text-align: justify;
      width: 100%;
      height: auto;
      padding: 0 3.5em;
      align-self: center; }
      .index .index__p--prim b {
        display: block;
        font-size: 2.5em; }
    .index .index__p--segu {
      width: 100%;
      padding: 3em;
      font-size: 1.2em; }
    .index .index__div--iframe {
      align-self: center; } }

@media only screen and (max-height: 450px) {
  .index .index__div--img {
    height: calc( 100vh - 76px); } }

.galeria .galeria__section {
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .galeria .galeria__section div {
    width: 33%;
    height: 18vw; }
    .galeria .galeria__section div .min {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid black; }
    .galeria .galeria__section div .max {
      display: block;
      position: absolute;
      object-fit: cover;
      left: 50%;
      width: 0vw;
      height: 0vw;
      transition: all .5s ease; }
  .galeria .galeria__section div:hover .min {
    box-shadow: 1px 2px 7px 2px;
    border: 2px solid black; }
  .galeria .galeria__section div:hover .max {
    width: 49.5%;
    height: 27vw;
    left: 25%;
    transform: translate(0, -22vw);
    border: 2px solid black;
    box-shadow: 1px 2px 7px 2px;
    z-index: 20; }

@media only screen and (min-width: 426px) {
  .galeria .galeria__section div {
    width: 25%;
    height: 12vw; }
  .galeria .galeria__section div:hover .max {
    width: 40%;
    height: 21.81vw;
    left: 30%;
    transform: translate(0, -17vw);
    border: 2px solid black;
    box-shadow: 1px 2px 7px 2px;
    z-index: 20; } }

@media only screen and (min-width: 1150px) {
  .galeria {
    display: grid;
    grid-template-columns: 50%;
    position: relative;
    margin-left: 50px; }
    .galeria .galeria__section {
      display: flex;
      flex-wrap: wrap;
      position: static; }
      .galeria .galeria__section div {
        width: 25%;
        height: 7vw; }
        .galeria .galeria__section div .min {
          transition: all .3s ease-out;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .galeria .galeria__section div .max {
          top: 180px;
          left: 75%; }
      .galeria .galeria__section div:hover .min {
        width: 0;
        height: 0;
        border: none;
        box-shadow: none; }
      .galeria .galeria__section div:hover .max {
        position: fixed;
        width: 38vw;
        height: 25vw;
        border: 1px solid black;
        top: 180px;
        left: 57%;
        box-shadow: 2px 7px 15px;
        transform: translate(0, 0); } }

.accordion img {
  width: 100%; }

.servicio {
  display: none; }
  .servicio .servicio__ul {
    display: flex;
    flex-wrap: wrap;
    position: relative; }
    .servicio .servicio__ul .servicio__ul__li {
      position: relative;
      border: 2px solid black; }
      .servicio .servicio__ul .servicio__ul__li img {
        width: 100%; }
      .servicio .servicio__ul .servicio__ul__li h3 {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 1.2em;
        color: white;
        text-shadow: 3px 3px 3px #505050;
        z-index: 3; }
      .servicio .servicio__ul .servicio__ul__li h3:hover {
        cursor: pointer; }
      .servicio .servicio__ul .servicio__ul__li .info {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotateY(90deg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 4vw;
        line-height: 1.6;
        background-color: #1a2930;
        color: #fff;
        z-index: 2; }
        .servicio .servicio__ul .servicio__ul__li .info .info__ul {
          grid-area: ul; }
          .servicio .servicio__ul .servicio__ul__li .info .info__ul li {
            text-align: center; }
  .servicio .servicio__ul__li:hover img {
    transition: all .5s ease-in-out;
    transform: rotateY(90deg);
    transform-style: preserve-3d; }
  .servicio .servicio__ul__li:hover .info {
    transition: .5s .5s ease-in-out;
    transform: rotateY(0deg); }
  .servicio .servicio__ul__li img {
    transition: .5s .5s ease-in-out;
    transform: rotateY(0deg);
    transform-style: preserve-3d; }
  .servicio .servicio__ul__li .info {
    transition: all .5s ease-in-out;
    transform: rotateY(90deg); }

@media only screen and (min-width: 750px) {
  .accordion {
    display: none; }
  .servicio {
    display: block; }
    .servicio .servicio__ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto; }
      .servicio .servicio__ul .servicio__ul__li h3 {
        top: 5px;
        font-size: 1em; }
      .servicio .servicio__ul .servicio__ul__li .info {
        font-size: 2vw; }
      .servicio .servicio__ul .simple {
        grid-column: 1 / 3;
        grid-row: 1; }
      .servicio .servicio__ul .superior {
        grid-column: 3 / 5;
        grid-row: 1; }
      .servicio .servicio__ul .king {
        grid-column: 1 / 3;
        grid-row: 2; }
      .servicio .servicio__ul .jr {
        grid-column: 3 / 5;
        grid-row: 2; }
      .servicio .servicio__ul .suite {
        grid-column: 1 / 5;
        grid-row: 3;
        font-size: 1.5em; }
        .servicio .servicio__ul .suite .info {
          font-size: 4vw; } }

@media only screen and (min-width: 900px) {
  .servicio .servicio__ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto; }
    .servicio .servicio__ul .servicio__ul__li {
      position: relative;
      border: 2px solid black; }
      .servicio .servicio__ul .servicio__ul__li .info {
        font-size: 1.5vw; }
    .servicio .servicio__ul .simple {
      grid-column: 1 / 3;
      grid-row: 1; }
    .servicio .servicio__ul .superior {
      grid-column: 3 / 5;
      grid-row: 1; }
    .servicio .servicio__ul .king {
      grid-column: 5 / 7;
      grid-row: 1; }
    .servicio .servicio__ul .jr {
      grid-column: 1 / 4;
      grid-row: 2;
      font-size: 1.5em; }
      .servicio .servicio__ul .jr .info {
        font-size: 2vw; }
    .servicio .servicio__ul .suite {
      grid-column: 4 / 7;
      grid-row: 2;
      font-size: 1.5em; }
      .servicio .servicio__ul .suite .info {
        font-size: 2vw; } }

.carousel .carousel-caption {
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.37); }
  .carousel .carousel-caption h5 {
    text-transform: uppercase;
    text-shadow: 2px 1px 1px #1a2930;
    font-size: 2em; }
  .carousel .carousel-caption p {
    text-shadow: 2px 1px 1px #1a2930;
    font-size: 2em; }

.reserva {
  padding: 1em 0;
  margin: 0 5px; }
  .reserva .reserva__section {
    display: flex;
    flex-wrap: wrap;
    padding: .2em .3em;
    margin: 0 .4em; }
    .reserva .reserva__section legend {
      width: 100%;
      text-align: center;
      margin: 5px 0;
      font-size: 1.3em;
      line-height: 1.5em; }
  .reserva .reserva__section--prim {
    border-bottom: 3px dashed #0a1612; }
    .reserva .reserva__section--prim label {
      display: inline-block;
      width: 26%;
      align-self: center; }
    .reserva .reserva__section--prim label:hover {
      cursor: pointer; }
    .reserva .reserva__section--prim .form-control {
      width: 68%;
      height: 2.2em;
      margin: 4px 0;
      color: #0a1612;
      background-color: rgba(228, 228, 228, 0.973); }
    .reserva .reserva__section--prim select {
      width: 68%;
      height: 2.2em;
      margin: 4px 0; }
    .reserva .reserva__section--prim .form-control:focus {
      box-shadow: 0 0 10px 0.1rem #1a2930;
      color: #0a1612; }
  .reserva .reserva__section--secu label {
    width: 43%;
    margin: 3px 0 3px auto;
    cursor: pointer; }
    .reserva .reserva__section--secu label input {
      margin-right: 10px; }
  .reserva .reserva__section--terc {
    border-bottom: 3px dashed #0a1612; }
    .reserva .reserva__section--terc label {
      width: 43%;
      margin: 3px 0 3px auto;
      cursor: pointer; }
      .reserva .reserva__section--terc label input {
        margin-right: 10px; }
  .reserva .reserva__section--cuar div, .reserva .reserva__section--cuar a {
    display: flex;
    justify-content: center;
    width: 50%; }
    .reserva .reserva__section--cuar div input, .reserva .reserva__section--cuar a input {
      font-size: .75em;
      margin: 10px 0;
      width: 94%;
      max-width: 115px; }
  .reserva .reserva__section--cuar .anim {
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite; }
  .reserva .reserva__section--cuar .anim:hover {
    animation-name: none; }

@keyframes anim {
  0% {
    background-color: #c5c1c0; }
  50% {
    background-color: #0a1612;
    color: #f7ce3e;
    border: 1px solid #f7ce3e; }
  100% {
    background-color: #c5c1c0; } }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity .5s;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 10; }

#popupBody {
  width: 46%;
  padding: 2%;
  border-radius: 15px;
  box-shadow: 0 0 5px #c5c1c0;
  background: #c5c1c0;
  position: relative;
  margin: 20% auto;
  transition: all 5s ease-in-out; }

#cerrar {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #F00;
  transition: all 200ms; }

@media only screen and (min-width: 640px) {
  .reserva {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "reservaA reservaB" "reservaA reservaC" "reservaD reservaD";
    margin: 0 50px; }
    .reserva .reserva__section--prim {
      grid-area: reservaA;
      width: 100%;
      border-right: 3px dashed #0a1612; }
    .reserva .reserva__section--secu {
      grid-area: reservaB; }
    .reserva .reserva__section--terc {
      grid-area: reservaC; }
    .reserva .reserva__section--cuar {
      grid-area: reservaD; }
      .reserva .reserva__section--cuar div, .reserva .reserva__section--cuar a {
        display: flex;
        align-items: center; }
        .reserva .reserva__section--cuar div input, .reserva .reserva__section--cuar a input {
          font-size: 1.2em;
          max-width: 180px; } }

@media only screen and (min-width: 1023px) {
  .reserva {
    grid-template-columns: 42% 39% 19%;
    grid-template-areas: "reservaA reservaB reservaD" "reservaA reservaC reservaD"; }
    .reserva .reserva__section--prim {
      border-bottom: 0; }
    .reserva .reserva__section--terc {
      border-bottom: 0; }
    .reserva .reserva__section--cuar {
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      border-left: 3px dashed #0a1612; }
      .reserva .reserva__section--cuar div, .reserva .reserva__section--cuar a {
        display: flex;
        align-items: center;
        width: 95%; }
        .reserva .reserva__section--cuar div input, .reserva .reserva__section--cuar a input {
          margin: 0 auto;
          font-size: 1em;
          width: 170px;
          max-width: none; } }

.contacto {
  padding-top: 20px; }
  .contacto .contacto__add address {
    width: 100%; }
  .contacto .contacto__add ul {
    text-align: center; }
  .contacto .contacto__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .2em .3em;
    margin: 20px 10px; }
    .contacto .contacto__form label {
      align-self: center;
      text-align: center;
      width: 22%;
      min-width: 90px; }
    .contacto .contacto__form .form-control {
      display: inline-block;
      width: 75%;
      height: 2.2em;
      margin: 5px 0;
      background: #e2e2e2;
      color: #0a1612; }
    .contacto .contacto__form .form-control:focus {
      box-shadow: 0 0 10px 0.1rem #1a2930;
      color: #0a1612; }
    .contacto .contacto__form div {
      width: 100%;
      text-align: center; }
  .contacto .contacto__ubic {
    grid-area: ubicacion;
    margin: 0; }
    .contacto .contacto__ubic iframe {
      width: 100%; }

@media only screen and (min-width: 640px) {
  .contacto {
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: auto;
    grid-template-areas: "address contactoForm" "ubicacion ubicacion"; }
    .contacto .contacto__add {
      grid-area: address;
      align-self: center;
      justify-self: center; }
    .contacto .contacto__form {
      grid-area: contactoForm;
      align-self: center;
      justify-self: center; } }

.error {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "titulo img" "sub1 img" "sub2 img"; }
  .error .error__h1 {
    padding: 20px;
    grid-area: titulo;
    text-align: justify; }
  .error .error__sub1 {
    padding: 20px;
    grid-area: sub1; }
  .error .error__sub2 {
    padding: 20px;
    grid-area: sub2; }
  .error .error__img {
    grid-area: img;
    margin: 0 0 0 auto; }
