*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-family: 'Flamenco', cursive;
    font-weight: 400;
    color: rgb(205, 195, 50);
}

a:visited{
    color: rgb(205, 195, 50);
}

main{
    font-family: 'Asap', sans-serif;
}

body{
    background: url(../Multimedia/Imagenes/Fondo/dotted_pattern.png), radial-gradient(rgb(206, 226, 208), rgb(0, 112, 0));
    overflow: scroll;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

main .margen{
    background: rgb(0, 112, 0);
    visibility: hidden;
    display: block;
    width: 25vw;
    height: 18vw;
    min-width: 100px;
    min-height: 75px;
    max-width: 200px;
    max-height: 150px;
}

nav{
    flex-flow: column wrap;
    color: yellowgreen;
    background: url(../Multimedia/Imagenes/Fondo/1.png) no-repeat, url(../Multimedia/Imagenes/Fondo/1.png) no-repeat, url(../Multimedia/Imagenes/Fondo/1.png) no-repeat, url(../Multimedia/Imagenes/Fondo/1.png) no-repeat, linear-gradient(rgb(0, 220, 18), rgb(0, 112, 0));
    background-size: 10vw, 20vw, 30vw, 40vw;
    background-position: 38% top, center, right, left;
    box-shadow: 1px 1px 15px 1px rgb(80, 80, 80);
}

.logo{
    display: flex;
        justify-content: center;
}

nav a img{
    width: 25vw;
    height: 13vw;
    min-width: 100px;
    min-height: 52px;
    max-width: 200px;
    max-height: 104px;
}

nav ul{
    display: flex;
}

nav ul li{
        flex: 1;
    font-size: 1em;
    text-align: center;
    margin-bottom: 7px;
}

/* MAIN */

.index{
    display: grid;
        grid-template-areas:
        "primerParrafo"
        "img"
        "segundoParrafo"
        "iframe";
        grid-template-columns: 90%;
        justify-content: space-around;
    margin: 10px;
}

.index img{
    width: 80vw;
    max-width: 440px;
    margin: .5em auto;
    border-radius: 10%;
    box-shadow: 3px 3px 15px 5px;
        grid-area: img;
}

.index div{
    position: relative;
    padding-bottom: 53.85%;
    height: 0;
    overflow: hidden;
    margin: .5em;
    border-radius: 10%;
    box-shadow: 3px 3px 15px 5px;
}

.index iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 101%;
    height: 100%;
}

.index p{
    text-align: justify;
    margin: auto;
}

.index .primerParrafo{
    grid-area: primerParrafo;
}

.index .segundoParrafo{
    grid-area: segundoParrafo;
}

.index div{
    grid-area: iframe;
}

/* GALERIA */

.galeria{
    display: flex;
        flex-wrap: wrap;
    margin: 10px 3.8%;
}

.galeria div{
    width: 33%;
    height: 18vw;
}
.galeria .min{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(13, 111, 0);
}

.galeria div:hover .min{
    transform: scale(1.3);
    box-shadow: 1px 2px 7px 2px;
    border: 2px solid black;
}

.max{
    display: block;
    position: fixed;
    object-fit: cover;
    top: 350px;
    left: 75%;
    width: 0vw;
    height: 0vw;
    transition: all .5s ease;
}

/* Pagina Servicios */

.mainServicio{
    display: grid;
        grid-template-columns: 33%;
}

.mainServicioUl{
    position: relative;
}

.flexServicio{
    margin: 40px 0;
}

.flexServicio h3{
    text-align: center;
    font-size: 1em;
    padding: 2px;
}

.flexServicio h3:hover{
    cursor: pointer;
    color: rgb(0, 82, 0);
    font-size: x-large;
}

.info{
    display: none;
    font-size: .9em;
}

.infoUl li{
    margin: 5px 0;
}

.flexServicio:hover .info{
    display: grid;
    grid-template-columns: 67vw;
        grid-template-areas:
        "ul"
        "servicioImg" ;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
}

.infoUl{
    grid-area: ul;
    text-align: center;
    margin: auto 0;
    padding: 0;
}

.carousel{
    width: 90%;
    margin: auto;
    grid-area: servicioImg;
}

.carousel-item{
    width: 100%;
}

.carousel-item img{
    width: 100%;
    height: auto;
}

/* Atributos de mi Reserva */

.reserva{
    padding: 1em 0;
    margin: 0 10px;
}

.reservaPrim{
    padding: .2em .3em;
    border-bottom: 1px dashed rgb(123, 123, 123);
}

.reservaPrim label{
    display: inline-block;
    width: 26%;
}

.reservaPrim input{
    width: 68%;
    height: 2.2em;
    margin: 4px 0;
}

.reservaPrim select{
    width: 68%;
    height: 2.2em;
    margin: 4px 0;
}

.reservaSecu{
    display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
    border-bottom: 3px dashed rgb(123, 123, 123);
    padding: .2em .3em;
}

.reservaSecu label{
    width: 50%;
    margin: 3px 0;
}

.reservaSecu input{
    margin-right: 10px;
}

.reserva legend{
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 1em;
    line-height: 1.5em;
}

.reservaTerc{
    display: flex;
        flex-wrap: wrap;
    text-align: center;
    padding: 15px 0;
    border-bottom: 3px dashed rgb(123, 123, 123);
    padding: .2em .3em;
}

.reservaTerc label{
    width: 50%;
    justify-self: center;
    align-self: center;
    text-align: center;
    margin: 3px 0;
}

.reservaTerc input{
    margin: 2%;
}

.reservaCuar{
    padding: 15px 0;
    text-align: center;
}

/* CONTACTO */

.contactoBtn{
    width: 90px !important;
    font-size: .7em;
    background-color: rgb(110, 242, 110);
}

.contacto{
    margin: 15px;
}

.contacto .address ul{
    text-align: center;
}

.contacto .address address{
    width: 100%;
}

.ubicacion iframe{
    width: 95%;
    margin: 4px 2.5%;
}

.contactoForm{
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
    padding: .2em .3em;
    margin: 0 10px;
}

.contactoForm label{
    text-align: left;
    width: 22%;
    min-width: 90px;
}

.form-control{
    display: inline-block;
    width: 75%;
    height: 2.2em;
    margin: 5px 0;
    background: rgb(226, 226, 226);
    color: rgb(5, 77, 5);
}

.form-control:focus{
    box-shadow: 0 0 5px .25rem rgb(95, 186, 72);
}

.btn{
    margin: 3px;
    justify-content: center;
    background-color: rgb(110, 242, 110);
}

.btn-outline-success:hover{
    background-color: rgb(1, 112, 1);
}

.contactoForm textarea{
    width: 75%;
    margin: 4px 0;
    background: rgb(226, 226, 226);
}

.contactoForm .butom{
    width: 90px;
    height: 35px;
    border: none;
    background-image: radial-gradient(green, rgb(42, 240, 2));
    box-shadow: 1px 1px 5px 1px rgb(7, 104, 7);
}

.contactoForm .butom:hover{
    cursor: pointer;
    opacity: .7;
}

/* FOOTER */

footer{
    background-image: linear-gradient(rgb(0, 112, 0), rgb(0, 220, 18));
    box-shadow: -1px -2px 5px 1px rgb(80, 80, 80);
    padding: .7em .7em;
    font-size: .7em;
    margin: 0;
}

.icono{
    width: 2.5em;
    margin:  .7em;
    color: rgb(121, 14, 14);
}

.footer{
    display: flex;
        justify-content: center;
}

footer p{
    text-align: center;
    margin: .5em 0;
}

address{
    width: 50%;
    margin: 0 auto;
}

address ul{
    display: flex;
        flex-flow: column wrap;
    text-align: center;
}

address ul li{
    margin: 2% 0;
}

/* BOOTSTRAP */

.imgBoot{
    width: 25vw;
    height: 13vw;
    min-width: 100px;
    min-height: 52px;
    max-width: 200px;
    max-height: 104px;
}

/* .carousel-inner .carousel-item {
    transition: -webkit-transform 5s ease;
    transition: transform 5s ease;
    transition: transform 5s ease, -webkit-transform 5s ease;
  } */


@media only screen and (min-width: 426px){
    .galeria div{
        width: 25%;
        height: 12vw;
    }

    .carousel{
        width: 90%;
        margin: auto;
        grid-area: servicioImg;
    }
    
    .carousel-item{
        width: 100%;
    }
    
    .carousel-item img{
        width: 100%;
        height: auto;
    }

    .mainServicio{
        display: grid;
            grid-template-columns: 100%;
        height: 420px;
    }
    
    .mainServicioUl{
        display: grid;
            grid-template-columns: repeat(5, 1fr);
        max-width: 100%;
    }

    .flexServicio{
        display: grid;
            grid-template-rows: 12% 80%;
        margin: 8px 0;
    }

    .flexServicio:hover .info{
        display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            grid-template-areas:
            "ul servicioImg" ;
        position: absolute;
        left: 0%;
        top: 15%;
        width: 100%;
    }
    
    .mainServicio h3{
        font-size: .8em;
    }

    .infoUl{
        font-size: 1.2em;
        margin: 0 10px;
        justify-self: center;
        align-self: center;
    }

    .contactoBtn{        
        width: 110px !important;
        font-size: 1em;
    }
}

@media only screen and (min-width: 640px){
    html{
    font-size: 2.3vw;
    }
    
    nav{
        display: grid;
            grid-template-columns: 50% 50%;
    }
    
    .logo{
        justify-content: start;
        margin: .5em 0 .5em;
        width: 250px;
    }
    
    nav ul{
        align-items: flex-end;
        justify-content: flex-end;
    }

    .index{
        display: grid;
            grid-template-columns: 48% 48%;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
            "primerParrafo img"
            "iframe segundoParrafo";
            justify-content: space-between;
            align-self: center;
            grid-column-gap: 1%;
    }

    .index img{
        width: 46vw;
        height: 26vw;
        margin: auto;
    }

    .index iframe{
        margin: 0 auto .5em;
    }

    .foot address ul{
        height: 6em;
    }

    .reserva{
        display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "reservaA reservaB"
            "reservaA reservaC"
            "reservaD reservaD";
    }

    .reservaPrim{
        grid-area: reservaA;
    }

    .reservaSecu{
        grid-area: reservaB;
        border-left: 1px dashed rgb(123, 123, 123);
        border-bottom: 0px;
    }

    .reservaTerc{
        grid-area: reservaC;
        border-left: 1px dashed rgb(123, 123, 123);
    }

    .reservaCuar{
        grid-area: reservaD;
    }
    
    .contacto{
        display: grid;
            grid-template-columns: 33% 66%;
            grid-template-rows: 50% 50%;
            grid-template-areas: 
            "address contactoForm"
            "ubicacion ubicacion";
    }

    .contacto .address{
        grid-area: address;
        align-self: center;
        justify-self: center;
    }

    .contactoForm{
        grid-area: contactoForm;
        align-self: center;
        justify-self: center;
    }

    .contactoBtn{        
        width: 150px !important;
        font-size: 1em;
    }

    .ubicacion{
        grid-area: ubicacion;
        margin: 20px 0;
    }
}

@media only screen and (min-width: 767px){
    .index img{
        max-width: 100%;
    }
    .index p{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width: 1023px){
    
    .mainServicio{
        display: grid;
            grid-template-columns: 100%;
        height: 38vw;
    }

    .reserva{
        display: grid;
            grid-template-columns: 42% 42% 16%;
            grid-template-areas: 
            "reservaA reservaB reservaD"
            "reservaA reservaC reservaD";
    }

    .reservaPrim{
        border-bottom: 0;
    }

    .reservaPrim input, .reservaPrim select{
        width: 60%;
        margin: 10px 0 0 30px;
    }

    .reservaTerc{
        border-bottom: 0;
    }

    .reservaCuar{
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        border-left: 3px dashed rgb(123, 123, 123);
        font-size: large;
    }

    .reservaCuar input{
        margin: auto 0;
        width: 115px;
    }

}

@media only screen and (min-width: 1150px){
    html{
    font-size: 1.8vw;
    }
    
    .mainGaleria{
        display: grid;
            grid-template-columns: 50%;
        position: relative;
    }
    
    .galeria{
        display: flex;
            flex-wrap: wrap;
    }

    .galeria div{
        width: 25%;
        height: 7vw;
    }

    .galeria .min{
        transition: all .3s ease-out;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .galeria div:hover .min{
        width: 0;
        height: 0;
        border: none;
        box-shadow: none;
    }

    .galeria div:hover .max{
        display: block;
        width: 38vw;
        height: 25vw;
        border: 1px solid black;
        top: 180px;
        left: 55%;
        box-shadow: 2px 7px 15px 6px;
    }

}