.error{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "titulo img"
        "sub1 img"
        "sub2 img";
    .error__h1{
        padding: 20px;
        grid-area: titulo;
        text-align: justify;
    }
    .error__sub1{
        padding: 20px;
        grid-area: sub1;
    }
    .error__sub2{
        padding: 20px;
        grid-area: sub2;
    }
    .error__img{
        grid-area: img;
        margin: 0 0 0 auto;
    }
}