.error{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "none none"
        "titulo img"
        "sub1 img"
        "sub2 img";
    .error__h1{
        grid-area: titulo;
        margin: 0 10px;
        text-align: justify;
    }
    .error__sub--1{
        grid-area: sub1;
    }
    .error__sub--2{
        grid-area: sub2;
    }
    .error__img{
        grid-area: img
    }
}