body{
    margin-top: 86px;
    background: $colorPrincipal;
    .btn{
        margin: 3px;
        justify-content: center;
        background-color: $colorPrincipal;
        border: 1px solid $colorTerciario;
        color: $colorTerciario;
    }
    .btn:hover{
        background-color: $colorTerciario;
        border: 1px solid $colorDetalles;
        color: $colorDetalles;
        font-weight: bold;
    }
    .li__a{
        color: $colorLetra !important;
    }
    .li__a:visited{
        color: $colorLetra !important;
    }
}
/* Nav */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    .navbar{
        color: $colorLetra;
        background: $colorPrincipal;
        box-shadow: 1px 1px 15px 1px $colorSombra;
        .navbar-brand {
            width: auto;
            height: 70px;
            .imgBoot{
                margin: 0 60px;
                width: 140px;
                height: auto;
            }
        }
        ul{
            display: flex;
            list-style: none;
            li{
                flex: 1;
                font-size: 1.25em;
                text-align: left;
                margin-bottom: 7px;
            }
        }
    }
}
@media only screen and (max-height: 450px){
    body{
        margin-top: 86px;
    }
    header{
        position: absolute;
        nav{
            .navbar-brand{
                height: 60px;
                img{
                width: 100px;
                }
            }
        }
    }
}