body{
    background: $colorFondo;
    .btn{
        margin: 3px;
        justify-content: center;
        background-color: $colorFondo;
    }
    .btn:hover{
        background-color: $colorVerdeClaro;
    }
    .li__a{
        color: #555555 !important;
    }
    .li__a:visited{
        color: #555555 !important;
    }
}
/* Nav */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    nav{
        color: #555555;
        background: $colorFondo;
        box-shadow: 1px 1px 15px 1px $colorSombra;
            ul{
                display: flex;
                list-style: none;
                li{
                    flex: 1;
                    font-size: 1.3em;
                    text-align: left;
                    margin-bottom: 7px;
                }
            }
            .navbar-brand {
                width: 70%;
                height: 100px;
                img{
                width: 100%;
                height: auto;
                }
            }
        }
    }
.margen{
    height: 130px;
    visibility: hidden;
}
.imgBoot{
    width: 25vw;
    height: 13vw;
    min-width: 100px;
    min-height: 52px;
    max-width: 200px;
    max-height: 104px;
}
@media only screen and (min-width: 640px){
    nav{
        display: grid;
            grid-template-columns: 50% 50%;
        ul{
            align-items: flex-end;
            justify-content: flex-end;
        }
    }
}