body{
    margin-top: 110px;
    background: $colorFondo;
    .btn{
        margin: 3px;
        justify-content: center;
        background-color: $colorFondo;
    }
    .btn:hover{
        background-color: #486b00;
    }
    .li__a{
        color: #555555 !important;
    }
    .li__a:visited{
        color: #555555 !important;
    }
}
/* Nav */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 6;
    nav{
        color: #555555;
        background: $colorFondo;
        box-shadow: 1px 1px 15px 1px $colorSombra;
        .navbar-brand {
            width: auto;
            height: 100px;
            img{
            width: 100%;
            height: auto;
            }
        }
        ul{
            display: flex;
            list-style: none;
            li{
                flex: 1;
                font-size: 1.25em;
                text-align: left;
                margin-bottom: 7px;
            }
        }
    }
}
.imgBoot{
    width: 25vw;
    height: 13vw;
    min-width: 100px;
    min-height: 52px;
    max-width: 200px;
    max-height: 104px;
}