.index{
    display: grid;
        grid-template-areas:
        "primerParrafo"
        "img"
        "segundoParrafo"
        "iframe";
        grid-template-columns: 90%;
        justify-content: space-around;
    margin: 10px;
    img{
        width: 80vw;
        max-width: 440px;
        margin: .5em auto;
        border-radius: 10%;
        box-shadow: 3px 3px 15px 5px;
            grid-area: img;
    }
    div{
        align-self: center;
        position: relative;
        padding-bottom: 53.85%;
        height: 0;
        overflow: hidden;
        margin: .5em;
        border-radius: 10%;
        box-shadow: 3px 3px 15px 5px;
            grid-area: iframe;
        iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 101%;
            height: 100%;
        }
    }
    .index__p{
        text-align: justify;
        margin: auto;
    }
    .index__p--prim{
        @extend .index__p;
        grid-area: primerParrafo;
    }
    .index__p--segu{
        @extend .index__p;
        grid-area: segundoParrafo;
    }
}
@media only screen and (min-width: 640px){
    .index{
        display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 48% 48%;
            grid-template-areas:
            "primerParrafo img"
            "iframe segundoParrafo";
            justify-content: space-between;
            align-self: center;
            grid-column-gap: 1%;
        img{
            width: 46vw;
            height: 26vw;
            margin: auto;
        }
        iframe{
            margin: 0 auto .5em;
        }
    }
}
@media only screen and (min-width: 767px){
    .index{
        img{
            max-width: 100%;
        }
        .index__p{
            width: 90%;
        }
    }
}