.index{
    position: relative;
    h1{
        position: absolute;
        top: 70vh;
        left: 10px;
        color: white;
        text-transform: uppercase;
        grid-area: img;
    }
    .index__div--img{
        width: 100%;
        height: 100vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        grid-area: img;
    }
    .index__div--iframe{
        position: relative;
        padding-bottom: 53.85%;
        height: 0;
        overflow: hidden;
        iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        grid-area: iframe;
    }
    .index__p{
        text-align: justify;
        padding: 3.5em .5em;
        margin: auto;
        z-index: 5;
    }
    .index__p--prim{
        @extend .index__p;
        grid-area: primerParrafo;
    }
    .index__p--segu{
        @extend .index__p;
        grid-area: segundoParrafo;
    }
}
@media only screen and (min-width: 700px){
    .index{
        margin-top: 100px;
        display: grid;
            grid-template-areas: 
            "img primerParrafo"
            "segundoParrafo iframe";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        .index__p{
            text-align: justify;
            padding: 3em ;
            z-index: 3;
        }
        .index__div--iframe{
            align-self: center;
        }
    }
}