.index{
    position: relative;
    background-color: rgba(255, 255, 255, 0.945);
    h2{
        position: absolute;
        top: 80vh;
        left: 10px;
        color: rgba(255, 255, 255, 0.945);
        text-transform: uppercase;
        grid-area: img;
    }
    .index__div--img{
        width: 100%;
        height: 100vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        grid-area: img;
    }
    .index__div--iframe{
        position: relative;
        padding-bottom: 53.85%;
        height: 0;
        overflow: hidden;
        iframe{
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        grid-area: iframe;
    }
    .index__p{
        font-size: 1em;
        text-align: justify;
        padding: 3.5em 15px;
        margin: 0;
    }
    .index__p--prim{
        @extend .index__p;
        grid-area: primerParrafo;
    }
    .index__p--segu{
        @extend .index__p;
        grid-area: segundoParrafo;
    }
}
@media only screen and (min-width: 700px){
    .index{
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 100vh auto;
            grid-template-areas: 
            "img primerParrafo"
            "segundoParrafo iframe";
        h2{
            font-size: 3em;
        }
        .index__p--prim{
            b{
                display: block;
                font-size: 3em;
            }
            font-size: 1.2em;
            text-align: justify;
            background-color: rgba(0, 0, 0, 0.952);
            color: white;
            width: 100%;
            height: 100%;
            padding: 35% 3.5em;
        }
        .index__p--segu{
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.849);
            padding: 3em;
            font-size: 1.2em;
        }
        .index__div--iframe{
            align-self: center;
        }
    }
}