*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: scroll;
    a{
        text-decoration: none;
        font-family: 'Flamenco', cursive;
        font-weight: 400;
    }
    main{
        font-family: 'Asap', sans-serif;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}









