.carousel{
    .carousel-caption{
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.37);
        h5{
            text-transform: uppercase;
            text-shadow: 2px 1px 1px $colorSecundario;
            font-size: 2em;
        }
        p{
            text-shadow: 2px 1px 1px $colorSecundario;
            font-size: 2em;
        }
    }
}
.reserva{
    padding: 1em 0;
    margin: 0 5px;
    .reserva__section{
        display: flex;
            flex-wrap: wrap;
        padding: .2em .3em;
        margin: 0 .4em;
        legend{
            width: 100%;
            text-align: center;
            margin: 5px 0;
            font-size: 1.3em;
            line-height: 1.5em;
        }
    }
    .reserva__section--prim{
        border-bottom: 3px dashed $colorTerciario;
        label{
            display: inline-block;
            width: 26%;
            align-self: center;
        }
        label:hover{
            cursor: pointer;
        }
        .form-control{
            width: 68%;
            height: 2.2em;
            margin: 4px 0;
            color: $colorTerciario;
            background-color: $colorClaro;
        }
        select{
            width: 68%;
            height: 2.2em;
            margin: 4px 0;
        }
        .form-control:focus{
            box-shadow: 0 0 10px .1rem $colorSecundario;
            color: $colorTerciario;
        }
    }
    .reserva__section--secu{
        label{
            width: 43%;
            margin: 3px 0 3px auto;
            cursor: pointer;
            input{
                margin-right: 10px;
            }
        }
    }
    .reserva__section--terc{
        border-bottom: 3px dashed $colorTerciario;
        label{
            width: 43%;
            margin: 3px 0 3px auto;
            cursor: pointer;
            input{
                margin-right: 10px;
            }
        }
    }
    .reserva__section--cuar{
        div, a{
            display: flex;
                justify-content: center;
            width: 50%;
            input{
                font-size: .75em;
                margin: 10px 0;
                width: ($anchoMax)-6%;
                max-width: 115px;
            }
        }
        .anim{
            animation-name: anim;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        .anim:hover{
            animation-name: none;
        }
    }
}
@keyframes anim{
    0% {background-color: $colorPrincipal;}
   50% {background-color: $colorTerciario; color: $colorDetalles; border: 1px solid $colorDetalles;}
  100% {background-color: $colorPrincipal;}
}
.overlay { 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity .5s;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
    z-index: 10;
}
#popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px $colorPrincipal;
    background: $colorPrincipal;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
}
#cerrar{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}
@media only screen and (min-width: 640px){
    .reserva{
        display: grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: 
            "reservaA reservaB"
            "reservaA reservaC"
            "reservaD reservaD";
            margin: 0 50px;
        .reserva__section--prim{
            grid-area: reservaA;
            width: 100%;
            border-right: 3px dashed $colorTerciario;            
        }
        .reserva__section--secu{
            grid-area: reservaB;
        }
        .reserva__section--terc{
            grid-area: reservaC;
        }
        .reserva__section--cuar{
            grid-area: reservaD;
            div, a{
                display: flex;
                    align-items: center;
                input{
                    font-size: 1.2em;
                    max-width: 180px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1023px){
    .reserva{
        grid-template-columns: 42% 39% 19%;
        grid-template-areas: 
        "reservaA reservaB reservaD"
        "reservaA reservaC reservaD";
        .reserva__section--prim{
            border-bottom: 0;          
        }
        .reserva__section--terc{
            border-bottom: 0;
        }
        .reserva__section--cuar{
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            border-left: 3px dashed $colorTerciario;
            div, a{
                display: flex;
                align-items: center;
                width: 95%;
                input{
                    margin: 0 auto;
                    font-size: 1em;
                    width: 170px;
                    max-width: none;
                }
            }
        }
    }
}