*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    a{
        text-decoration: none;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 400;
    }
    main{
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}








