$colorDorado:  #d9ff00;
$colorSombra: #505050;
$colorClaro: rgba(228, 228, 228, 0.973);
$colorLetra: #555;
$anchoMax: 100%;
$colorPrincipal: #c5c1c0;
$colorSecundario: #1a2930;
$colorTerciario: #0a1612;
$colorDetalles: #f7ce3e;